.w3-theme-l5 {color:#000 !important; background-color:#ecfef9 !important}
.w3-theme-l4 {color:#000 !important; background-color:#bffce9 !important}
.w3-theme-l3 {color:#000 !important; background-color:#7ff8d4 !important}
.w3-theme-l2 {color:#000 !important; background-color:#3ff5be !important}
.w3-theme-l1 {color:#fff !important; background-color:#0ce5a4 !important}
.w3-theme-d1 {color:#fff !important; background-color:#08946a !important}
.w3-theme-d2 {color:#fff !important; background-color:#07845e !important}
.w3-theme-d3 {color:#fff !important; background-color:#067353 !important}
.w3-theme-d4 {color:#fff !important; background-color:#056347 !important}
.w3-theme-d5 {color:#fff !important; background-color:#04523b !important}

.w3-theme-light {color:#000 !important; background-color:#ecfef9 !important}
.w3-theme-dark {color:#fff !important; background-color:#04523b !important}
.w3-theme-action {color:#fff !important; background-color:#04523b !important}

.w3-theme {color:#fff !important; background-color:#09a376 !important}
.w3-text-theme {color:#09a376 !important}
.w3-theme-border {border-color:#09a376 !important}
.w3-hover-theme:hover {color:#fff !important; background-color:#09a376 !important}